body{
    background:#eee;
}
#main{
    margin:1em auto;
    padding:1em;
    max-width:38em;
    font:1em/1.62em sans;
    white-space:normal;
}
.construction{
    opacity:0.7;
}
li{
    margin-bottom:1em;
}
footer{
    border-top:1px solid;
}
#runner{
    float:left;
    width:100%;
}
a{
    color:#0f4880;
    text-decoration:none;
    border-bottom:1px solid;
}
a[href^="http"]:after,
a[href^="https"]:after{
    content:"⇗";
    margin-left: 0.1em;
}
td h1{
    font-size:1em;
    margin:0;
}
tr:hover{
    background-color:#fff;
}
table{
    font-family:mono;
}
td{
    padding:0 0.4em;
}
td.thumb{
    text-align:center;
}
#footnotes{
    border-top:1px solid;
}
abbr{
    font-variant:small-caps;
}
@media(prefers-color-scheme:dark){
    body{
        background:#111;
        color:#fff;
    }
    tr:hover{
        background-color:#000;
    }
    a{
        color:#4da6ff;
    }
}
@media(any-pointer:coarse){
    abbr[title]::after{
        content:" (i.e., " attr(title) ")";
        font-variant:initial;
    }
}
