body{
    background:#eee;
}
#main{
    margin:1em auto;
    padding:1em;
    max-width:38em;
    font:1em/1.62em sans;
    white-space:normal;
}
li{
    margin-bottom:1em;
}
footer{
    border-top:1px solid;
}
#runner{
    float:left;
    width:100%;
}
a{
    color:#0f4880;
    text-decoration:none;
    border-bottom:1px solid;
}
a[href^="http"]:after,
a[href^="https"]:after{
    content:" ⇗";
    margin-left: 0.1em;
}
td h1{
    font-size:1em;
    margin:0;
}
.h, .line{
    border:none;
}
tr:hover{
    background-color:#fff;
}
.d{
    color:#d00;
    border:none;
}
.i{
    color:#090;
    border:none;
}
table{
    font-family:mono;
}
td{
    padding:0 0.4em;
}
td.num{
    text-align:right;
}
