[Unit]
Description=Let's Encrypt Auto-Renew

[Service]
Type=oneshot
Environment=UACME_CHALLENGE_PATH=/srv/http/.well-known/acme-challenge
ExecStart=/usr/bin/uacme -c /etc/ssl/acme -vyf -b 4096 -h /usr/share/uacme/uacme.sh issue halosgho.st oceanus.halosgho.st
ExecStart=/usr/bin/systemctl restart hitch.service
