[Unit]
Description=Let's Encrypt Auto-Renew

[Service]
Type=oneshot
ExecStart=/usr/bin/uacme -vyfh /usr/bin/uacme-hook issue halosgho.st oceanus.halosgho.st
ExecStart=/usr/bin/systemctl restart hitch.service
